{% extends 'base.html' %} {% block content %}
<div class="home">
  <h2>Rate The Charge</h2>
  <p>
    RTC is a website designed by Giovanni Rufino in collaboration with
    Springboard.
  </p>
  <p>
    Lookup electric vehicle charging stations, rate your experience and let
    others users know if the stations is in operations.
    <a href="/signup">Sign up</a> or <a href="/login">Login</a> to discover
    charging stations near you!
  </p>
  <img src="/static/images/rtclogo_text.png" alt="logo" id="home-logo" />
</div>
{% endblock %}
