{% extends 'base.html' %} {% block content %}
<div class="home">
  <h2>Rate The Charge</h2>
  <p>
    RTC is a website designed by Giovanni Rufino in collaboration with
    Springboard.
  </p>
  <p>
    The US sold 328,118 electric cars in 2018 and by 2024, the electric vehicle
    charging station market is expected to reach a compound annual growth rate
    of 38%.
  </p>
  <aside>Source: EVAdoption / BusinessWire</aside>
  <br />
  <p>
    Lookup electric vehicle charging stations, rate and comment about your
    experience.
    <a href="/signup">Sign up</a> or <a href="/login">Login</a> to discover
    charging stations near you!
  </p>
  <img src="/static/images/rtclogo_text.png" alt="logo" id="home-logo" />
</div>
{% endblock %}
