{% extends 'base.html' %} {% block content %}

<div><p><div class="row justify-content-md-center">
    <div class="card-columns">'
        <div class="card text-white bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">{{station.Title}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{station.AddressLine1}}, {{station.Town}}, {{station.StateOrProvince}} {{station.Postcode}}</h6>
                <p class="card-text">{{station.FormalName}}</p>
            </div>
        </div>
    </div>
</div></p>
<p>
    <div class='col-sm-6'>
        <ul class='list-group'>
            {% for review in station.reviews %}
                <li class="list-group-item">
                    {{ review.post }}
                    <br>
                    Rating: {{ review.score }}
                    <br>
                    -By {{ review.user.username }}
                    <br>
                    {{ review.readable_created_date }}
                </li>
                
            {% endfor %} 
        </ul>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <h2>
                Submit Rating
            </h2>
            <div class="rating-wrapper">
                <img id="1" src="/static/images/star.png" width="20">
                <img id="2" src="/static/images/star.png" width="20">
                <img id="3" src="/static/images/star.png" width="20">
                <img id="4" src="/static/images/star.png" width="20">
                <img id="5" src="/static/images/star.png" width="20">
            </div>
            <form method="POST" id='rating-form' action="/station/{{ station.open_charge_id }}/reviews/add">
                {{ form.csrf_token }}
                    {% for field in form if field.widget.input_type != 'hidden' %}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                    
                       
                    {{ form.score(id="rating", class="form-control") }}
                    <h4>{{ form.post.label }}:</h4>
                    {{ form.post(class="form-control") }}
                    
                    <button class="btn btn-success">Submit Rating</button>
                    <a href="/search" class="btn btn-outline-secondary">Cancel</a>
                    
            </form>
        </div>
    </div>

</p></div>
<script src="/static/javascript/star.js"></script>
{% endblock %}
