<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rate The Charge</title>

    <link rel="stylesheet" href="/static/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/static/stylesheets/style.css" />
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <nav class="navbar navbar-expand navbar-dark bg-primary">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="/" class="navbar-brand">
            <img
              src="/static/images/rtclogo.png"
              alt="logo"
              id="logo"
              class="d-inline-block align-text-middld"
            />
            <span>RTC</span>
          </a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if not g.user %}
          <li class="nav-item">
            <a class="nav-link" href="/signup">Sign up</a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/login">Log in</a></li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <div class="container">
      {% for category, message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ category }}">{{ message }}</div>
      {% endfor %} {% block content %} {% endblock %}
    </div>
    <script src="https://unpkg.com/jquery"></script>
    <script src="https://unpkg.com/popper"></script>
    <script src="https://unpkg.com/bootstrap"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="/static/javascript/app.js"></script>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDibstff_ItmrGuOHDU9ag28HY5VEcNts8&callback=initMap&v=weekly"
      async
    ></script>
  </body>
</html>
